h1 {
    font-size: 4em;
    text-align: center;
}

h2 {
    font-size: 3em;
    text-align: center;
}

h3 {
    font-size: 2.5em;
    text-align: center;
}

.app {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

table {
    border-style: hidden;
    width: 100%;
}

th {
    border-top: 2px solid #A9A9A9;
    background-color: #092140;
    /*background-color: #494E6B;*/
    /*background-color: #6B7A8F;*/
    text-align: center;
    padding: 0.7em;
    font-family: Helvetica;
    font-size: 1.5em;
    color: white;
    height: 3em;
}

.table > thead > tr > th {
    vertical-align: middle;
}

.table > tbody > tr > td {
    vertical-align: middle;
}

#companyCol {
    width: 25%;
}

#fundingCol {
    width: 15%;
}

#employeesCol {
    width: 15%;
}

#tagsCol {
    width: 15%;
}

#stageCol {
    width: 15%;
}

#foundedCol {
    width: 15%;
}

td {
    text-align: center;
    padding: 0.2em 0.3em 0.2em 0.3em;
    font-family: Helvetica;
    font-size: 1em;
}

td#description {
    color: #8c8c8c;
}

tr:hover {
    background-color: #F7F7F9;
}

.borderless {
    border: hidden;
    text-align: center;
}

.companyName {
    font-weight: bolder;
    font-size: 1.2em;
    color: #494E6B;
}

.logo {
    width: 4.5em;
}

div {
    text-align: center;
}

.showAll, .showMore {
    background-color: white;
    background: linear-gradient(#7E8D85, #092140);
    border: 0.1em solid #494E6B;
    border-radius: 1em;
    color: white;
    padding: 0.7em;
    width: 10em;
    text-align: center;
    font-size: 1.3em;
    position: relative;
    margin: 1em;
}

.showAll:hover, .showMore:hover {
    box-shadow: 0.1em 0.1em 0.5em #888888;
}

.chip {
    display: inline-block;
    padding: 0.5em;
    height: 2em;
    line-height: 1em;
    font-size: 1em;
    border-radius: 1.2em;
    background-color: #f1f1f1;
    margin: 0.2em;
}

.tagsContainer {
    height: 10em;
    width: 100%;
    padding: 3em;
}

.companyCard {
    margin: 1em;
    border: 0.1em solid #A9A9A9;
    border-radius: 0.5em;
    width: calc(20% - 2em);
    padding: 0.5em;
}

@media only screen and (max-width: 1180px) {
    .companyCard {
        width: calc(25% - 2em);
    }
}

@media only screen and (max-width: 960px) {
    .companyCard {
        width: calc(33.33% - 2em);
    }
}

@media only screen and (max-width: 680px) {
    .companyCard {
        width: calc(50% - 2em);
    }
}

@media only screen and (max-width: 460px) {
    .companyCard {
        width: 100%;
    }
}

.cardView {
    display: flex;
    flex-wrap: wrap;
}

article {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.description {
    color: #888888;
    text-align: justify;
}

.funding {
    background-color: #f4f4f4;
    width: 106%;
    padding: 0.3em;
    font-size: larger;
}

a {
    color: darkorange;
}

.wrapper {
    display: block;
}

.logoContainer {
    height: 5em;
    width: 100%;
}

#leftAlignedContainer {
    text-align: left;
    padding: 1em;
}

#searchBox {
    margin-left: 1em;
    border: solid 0.1em black;
    padding: 0.5em;
    border-radius: 1em;
}

.glyphicon {
    margin-left: -2em;
}

#sortingContainer {
    text-align: left;
    font-size: medium;
    padding-left: 2em;
}

th > .fa-sort-asc, .fa-sort-desc {
    margin-left: 0.2em;
}
