h1 {
    font-size: 4em;
    text-align: center;
}

h2 {
    font-size: 3em;
    text-align: center;
}

h3 {
    font-size: 2.5em;
    text-align: center;
}

.app {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}


table {
    border-style: hidden;
    width: 100%;
}


th {
    border-top: 2px solid #A9A9A9;
    background-color: #092140;
    text-align: center;
    font-family: Helvetica;
    font-size: 1.7em;
    color: white;
}

#companyCol{
    width: 15%;
}

#descriptionCol{
    width: 14%;
}

#fundingCol{
    width: 14%;
}

#employeesCol{
    width: 17%;
}

#tagsCol{
    width: 15%;
}

#stageCol{
    width: 10%;
}

#foundedCol{
    width: 15%;
}


td {
    border-top: 1.5px solid #F7F7F9;
    border-bottom: 1.5px solid #F7F7F9;
    text-align: center;
    padding: 1em 0.5em 1em 0.5em;
    font-family: Helvetica;
    font-size: 1em;
}

tr:hover {
    background-color: #F7F7F9;
}


.borderless{
    border: hidden;
    text-align: center;
}

.companyName {
    font-weight: bolder;
    font-size: 1.4em;
    color: #494E6B;
}

.logo{
    width: 4.5em;
}


div{
    padding-left: 3em;
    padding-right: 3em;
    text-align:center;
}

.showAll {
    background-color: white;
    background: linear-gradient(#7E8D85, #092140);
    border: 0.1em solid #494E6B;
    border-radius: 1em;
    color: white;
    padding: 0.7em 2em;
    text-align: center;
    font-size: 1.3em;
    position:relative;
}

.showAll:hover{
    box-shadow: 0.1em 0.1em 0.5em #888888;
}
